body{
    background: #F7971E;
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);
    background: linear-gradient(to right, #FFD200, #F7971E); 
    

}

.card {
    border-radius: 5px;
    box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.12);
    border: none;
    margin-bottom: 30px;
}
.profile-card {
    position: relative;
}
.profile-card .card-block {
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: linear-gradient(transparent, rgba(0,0,0,0.72));
}

.card-block {
    padding: 1.25rem;
}

.card .card-block p {
    line-height: 25px;
}
@media only screen and (min-width: 1400px){
    p {
        font-size: 14px;
    }
}
p {
    font-size: 13px;
}
.btn-info {
    background-color: #3a9efd;
    border-color: #3a9efd;
    color: #fff;
    cursor: pointer;
    transition: all ease-in 0.3s;
}
.btn {
    border-radius: 2px;
    text-transform: capitalize;
    font-size: 15px;
    padding: 10px 19px;
    cursor: pointer;
}
.card .card-footer {
    background-color: #fff;
    border-top: none;
}
.profile-card ~ .card-footer {
    padding: 0;
}
.bg-inverse {
    background-color: #1b1b1c !important;
    color: #fff;
}